.Results {
    display: flex;
    flex-wrap: wrap;
}

.keeptyping {
    animation: fading 1s ease-in-out alternate infinite;
}

@keyframes fading {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}